# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA project Folder
.idea

# IntelliJ IDEA iml file
*.iml

# Maven Build Tool target Folder
/target/

# Server related files
logs
players
plugins
resource_packs
worlds
banned-players-ip.json
banned-players.json
operators.json
server.properties
terracotta.yml
whitelist.json