<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="net.minecrell.terminalconsole,org.terracotta.console.logging">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout
                    pattern="%blue{%d{HH:mm:ss}} %minecraftFormatting{%msg}%n"/>
        </TerminalConsole>
        <RollingRandomAccessFile name="File" fileName="logs/server.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>